.clients-card {
    width: 556px;
    background-color: white;
    color: #3F3F55;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
    border-radius: 20px;
    margin: 32px 0px 37px 0px;
}

.clients-title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    padding: 18.5px 16px 16.5px 16px;
}

.clients-iconandtitle {
    display: flex;
}

.clients-name {
    margin-left: 8px;
}

.clients-table {
    width: 556px;
    border-collapse: collapse;
}

.clients-head {
    line-height: 50px;
    text-align: left;
}

.clients-body {
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.07px;
    line-height: 40px;
    padding: 8px 0px;
}

.border-bottom {
    border-bottom: 1px solid #EFF0F6;
}

.clients-left {
    padding-left: 16px;
}

.clients-middle {
    padding: 0px 16px 0px 16px;
}

.clients-right {
    padding-right: 16px;
}

.clients-number {
    padding: 0px 15px;
    border-radius: 8px;
}

.red {
    color: #971D1D;
    background: #FFEFEF;
}

.blue {
    color: #1FA7AF;
    background: #EEF6F6;
}

.see-all .link {
    display: flex;
    justify-content: center;
    color: #DA0175;
    padding: 13px 0px 12px 0px;
}