.charges-card {
    background-color: white;
    color: #3F3F55;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
    border-radius: 20px;
    margin: 16px 28px 0px 0px;
}

.charges-title {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
    padding: 18.5px 0px 16.5px 0px;
}

.charges-table {
    width: 360px;
    border-collapse: collapse;
}

.charges-head {
    line-height: 50px;
    text-align: left;
}

.charges-body {
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.07px;
    line-height: 40px;
}

.border-bottom {
    border-bottom: 1px solid #EFF0F6;
    width: 100%;
}

.charges-left {
    padding-left: 16px;
}

.charges-middle {
    padding: 0px 16px 0px 16px;
}

.charges-right {
    padding-right: 16px;
}

.charges-number {
    padding: 0px 15px;
    border-radius: 8px;
}

.red {
    color: #971D1D;
    background: #FFEFEF;
}

.yellow {
    color: #C5A605;
    background: #FCF6DC;
}

.blue {
    color: #1FA7AF;
    background: #EEF6F6;
}

.see-all .link {
    display: flex;
    justify-content: center;
    color: #DA0175;
    padding: 13px 0px 12px 0px;
}