.login-header {
    display: flex;
    margin: 0px 32px 0px calc(108px + 32px);
    min-width: 1000px;
    max-width: 1268px;
    flex-direction: row;
    justify-content: right;
    padding: 40px 137px 24px 103px;
    border-bottom: 1px solid #ACD9C5;
}